body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

button,
textarea,
input {
    font-family: inherit;
}

button {
    cursor: pointer;
}

.phone-img {
    width: 50%;
}

.h-50v {
    height: 50vh;
}